<ul class="infinite-list-content" style={{contentStyle}}>
{{#each visibleItems key='@index' as |item|}}
  <li class="virtual-item">
    {{yield item.raw item.actualIndex item.virtualIndex}}
  </li>
{{else}}
  <li class="virtual-list-empty">
    {{yield to='inverse'}}
  </li>
{{/each}}
</ul>
