{{#virtual-each
  height=height
  itemHeight=36
  scrollTimeout=scrollTimeout
  positionIndex=positionIndex
  items=items as |item|
}}
  <div class="person-row">
    <img src={{item.picture}} />
    <div>
      <div>{{item.name.last}}, {{item.name.first}}</div>
      <div class="company">{{item.company}}</div>
    </div>
  </div>
{{/virtual-each}}
