body, html {
  font-family: Helvetica;
}

.virtual-each {
	overflow-y: auto;
	margin-top: 20px;
  width: 300px;
}

.infinite-list-content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.person-row {
  display: flex;
  align-items: center;
  padding: 2px 0;
  position: relative;
}

.person-row .company {
  color: #788;
  font-size: 12px;
}

.person-row img {
  padding-right: 5px;
}

input[type='text'] {
  padding: 5px;
  font-size: 12px;
  width: 200px;
}

.row {
  margin: 5px 0;
}

.label {
  color: #333;
  font-size: 13px;
}

button {
  padding: 4px;
  border-radius: 2px;
  background: #F7F7F7;
  border: 1px solid #ddd;
  font-size: 12px;
  box-shadow: 1px 1px 0px 0px #EAEAEA;
  color: #565656;
}

button:hover {
  box-shadow: none;
  cursor: pointer;
}

.count {
  position: absolute;
  right: 8px;
  top: calc(50% - 5px);
  font-size: 10px;
  color: #777;
}
