body, html {
  font-family: Helvetica;
}

.virtual-each {
	overflow-y: auto;
	margin-top: 20px;
  width: 300px;
}

.infinite-list-content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.person-row {
  display: flex;
  align-items: center;
  padding: 2px 0;
}

.person-row .company {
  color: #788;
  font-size: 12px;
}

.person-row img {
  padding-right: 5px;
}
