<ul class="infinite-list-content" style={{contentStyle}}>
{{#each _visibleItems key='@index' as |item|}}
  <li class="virtual-item">{{yield item.raw item.actualIndex item.virtualIndex}}</li>
{{/each}}
</ul>
